.backgroundimg {
    width:  100%;
    height: 100%;
    margin-top: -8px;
    position: absolute;
    margin-left: -8px;
}
.maincard {
    background-color: white;
    border-radius: 8px;
    position: absolute;
    width: 1500px;
    height: 650px;
    margin-top: 25px;
}
.cityinput {
    opacity: 100%;
}